<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
            <app-seleccionar-cliente 
                [nombre]="clienteSeleccionado.nombre" 
                (seleccionoCliente)="asignarCliente($event)"
                (canceloCliente)="eliminarCliente()" >
            </app-seleccionar-cliente>

            <div class="form-control">
                <label for="">Precio</label>
                <select name="" id="" (change)="seleccionoPrecio($event)" class="form-control">
                    <option [value]="null">Seleccione un precio</option>
                    <option *ngFor="let precio of precios" [value]="precio.id">{{precio.nombre}}</option>
                </select>
            </div>

            <div class="form-control">
                <label for="">Fecha de inicio</label>
                <input type="text" [value]="inscripcion.fecha | date" disabled class="form-control">
            </div>
            
            <div class="form-control">
                <label for="">Fecha de finalizacion</label>
                <input type="text" [value]="inscripcion.fechaFinal | date" disabled class="form-control">
            </div>
            
            <div class="form-control">
                <label for="">SubTotal</label>
                <input type="text" [value]="inscripcion.subTotal | number" disabled class="form-control">
            </div>
            
            <div class="form-control">
                <label for="">IVA</label>
                <input type="text" [value]="inscripcion.iva | number" disabled class="form-control">
            </div>
            
            <div class="form-control">
                <label for="">Total</label>
                <input type="text" [value]="inscripcion.total | number" disabled class="form-control">
            </div>

            <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        <div class="col-sm-6">
            <div *ngIf="clienteSeleccionado.imgPath" class="img-cliente">
                <img [src]="clienteSeleccionado.imgPath" alt="">
            </div>
        </div>
    </div>
</div>