<div class="container mt-3">
    <h4>Listado de Clientes</h4>

    <form action="">
        <div class="form-group mb-3">
            <input type="text" class="form-control" placeholder="Busque un cliente..." />
        </div>
    </form>

    <div class="row">
        <div class="col-sm-4" *ngFor="let cliente of clientes">
            <div class="card">
                <img [src]="cliente.imgPath" class="card-img-top img-cliente" alt="imagen de cliente">
                <div class="card-body text-center">
                    <p>{{cliente.id}}</p>
                    <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
                    <a [routerLink]="['/agregar-clientes', cliente.id]" class="card-link text-warning">Editar</a>
                    <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
            </div>
        </div>
    </div>
</div>